.weatherCard {
  border: 1px solid rgb(197, 229, 246);
  padding: 25px;
  border-radius: 25px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-image: url('./src/assets/img/f2.jpg');
  background-size: cover;
  background-position: top;

}

.weatherCard__title {
  font-size: 30px;
  margin-top: 0;
}

.weatherCard__place {
  margin-bottom: 0;
  font-weight: 700;
  margin: 0 auto;
}


.weatherCard__temp {
  font-size: 30px;
  margin: 5px 0;
  font-weight: 100;
}

.weatherCard__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.weatherCard__description {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 5px 0px;
  font-weight: bold;
}

.weatherCard__list span {
  font-weight: bold;
}

.weatherCard__btn {
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(177, 177, 177);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: transform 300ms ease;
  border: 1px solid rgb(197, 229, 246);
}

.weatherCard__btn:hover {
  transform: scale(1.03);
}
.weatherCard__img {
 margin: 0px 10px;
 width: 190px ;
 height: 190px;
 display: flex;
 justify-content: center;
 align-items: center ;
}

.weatherCard__img i {
font-size: 150px ;
color: rgb(255, 255, 255);
}

