.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  padding: 20px;
  background-color: rgb(0, 0, 0);
}
  
.bg-forecast {
  background-position: center;
  background-size: cover;
}

  .bg-forecast.Clear {
  background-image: url('./public/img/Despejado.jpg');
}
