.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  padding: 20px;
  background-color: rgb(0, 0, 0);
}
  
.bg-forecast {
  background-position: center;
  background-size: cover;
}

  .bg-forecast.Clear {
  background-image: url('./src/assets/img/Despejado.jpg');
}

.bg-forecast.Thunderstorm { 
  background-image: url('./assets/img/Thunder.jpg');
}

.bg-forecast.Drizzle div {
  background-image: url('./assets/img/Nublado.jpg');
}

.bg-forecast.Rain {
  background-image: url('./assets/img/Thunder.jpg');
}

.bg-forecast.Snow {
  background-image: url('./assets/img/Nublado.jpg');
}

.bg-forecast.Mist,.bg-forecast.Smoke, .bg-forecast.Haze, .bg-forecast.Dust, 
.bg-forecast.Fog, .bg-forecast.Sand, 	.bg-forecast.Ash, .bg-forecast.Squall,
.bg-forecast.Tornado {
  background-image: url('./src/assets/img/fondo.jpg');
}

.bg-forecast_Clouds  {
background-image: url('./src/assets/img/Tarde.jpg');
}


